
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200&family=Young+Serif&display=swap');

*{
    box-sizing:border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    background: #2a2a2a;
    justify-content: center;
    background-image: url('../assets/especias.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size:contain;
    max-width: 100%;
}


.movie-title-h2{
    padding-top: 15px;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    color: rgb(37, 37, 37);
}

input[type=text]{
    text-align: center;
    padding: 15px 0;
    width: 15%;
    margin: 10px 0;
    border-radius: 10px;
    color: rgb(37, 37, 37);
    font-size: 18px;
    border: none;
    background-color: #B8B8B8;
    color: #2a2a2a;
}

#submit{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: rgb(37, 37, 37);
    font-size: 20px;
    border: none;
    width: 150px;
}


#clear-elements{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #FFC007;
    color: rgb(37, 37, 37);
    font-size: 20px;
    border: none;
    width: 150px;
}

#clear-elements:hover{
    background: #B8B8B8;
    color: rgb(37, 37, 37);
    font-weight: 500;
}

#main-container{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.clFicha
{
    
    border: 1px solid rgb(107, 90, 90);
    padding: 20px;
    background-color: #A8A8A8;
    border-radius: 10px;
    align-items: center;
    width: 70%;
}
.clBusqueda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
}


#movie-details-container {
    margin-left: 0;
}

.movie-image:hover{
    cursor: pointer;
}

.movie-image{
    height: 400px;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    margin-top: 60px;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* #titulo-header{
    font-size: 65px;
    text-align: center;
    margin: 20px;
    color: #961d43;
    font-family: 'Young Serif', sans-serif;
} */

#titulo-header
{
    
    font-size: 80px;
    text-align: center;
    color:rgb(67, 144, 22);
}


.article-text
{
    width: 40%;
    display: block;
    text-align: left;
}

.article-image
{
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

img{
    object-fit: cover;
    width:90%;
    border-radius: 10px;
}

img.favorite {
    width: 48px;
    height: 48px;
}

h1
{
    line-height: 1.6;
    display: block;
}


form
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(186, 186, 179);
    padding: 15px;
    border-radius: 15px;
margin-bottom: 26px;
}

select
{
    height:40px;
    width: 20%;
}



.article-principal{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

#recipes-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipes-details{
  /*  width: 25%;*/
    padding-bottom: 25px;
    background-color: #b8b8b8;
    margin-bottom: 60px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(202, 190, 167) 0%, rgb(228, 212, 191) 50%, rgb(193, 166, 170) 100%);
}



.articulo-fondo
{
    background-image: url(../assets/especias.jpg);
    
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;

}

.recipe
{
    display: flex;
    justify-content: center;
}


#only-recipe
{
    display: flex;
width: 80%;
justify-content: center;

}
h2{

    display: flex;
}
p
{

    font-size: larger;
    font-weight: 350;
}

.favorite
{
margin: 20px;
}
.titulo-only
{
    display: flex;
    text-align: center;
    justify-content: center;

}